# JIRA API settings
EMAIL = your-email-here@domain.com
API_KEY_ = 
SITE = https://your-company-here.atlassian.net/
# Database connection settings
eSERVER =
eSCHEMA =
eDATABASE =
eUSERNAME =
ePASSWORD =